.root {
    margin: 0px;

}

header {
    background-color: #0b658e;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}

.header-div {
    color: white;
    padding: 30px;
}

select {
    margin-left: 60px;
}
.container {
    display: flex;
    padding-top: 15px;


}

.left-box {
    width: 360px;
    border: 1px solid gainsboro;
    box-shadow: -4px 5px 25px 0px gainsboro;
    margin-left: auto;
    margin-right: 20px;
    
    
    
}
p {
    display: inline;

}
.right-box {
    border: 1px solid gainsboro; 
    box-shadow: -4px 5px 25px 0px gainsboro; 
    width: 360px;
    margin-right: auto;
    margin-left: 20px;
}

li {
    display: flex;
    padding: 30px;
    border-bottom: 1px solid gainsboro;
    align-items: center;

    
}

.image {
    height: 45px;
    border-radius: 3px;
    
}
.contribute-data {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    
}
.contributor-name {
    margin-left: auto;
    margin-right: 25px;

}

.contributor-badge {
    padding-left: 50px;
    width: 50px;

}
ul {
    
    margin: 0px;
    
}

.details {
    padding: 10px;
    height: 400px;
    
    
}
.title {
    padding: 10px;
}